# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local
.env

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/test-results/
/playwright-report/
/tests/e2e/__snapshots__/*-linux.png
